<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Extra features</title>


    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" rel="stylesheet">
    	
	
  </head>

  <body>

        <h1>HEALTH App</h1>
		<form action="/signUp" method="POST">
        <label for="supp" class="sr-only">Support</label>
        <input type="number" step="any" name = "inputsupport" placeholder="Support" required autofocus>
        <label for="supp" class="sr-only">Confidence</label>
        <input type="number" step="any" name="inputconfi" placeholder="Confidence" required autofocus>
    

<br>    
	<label class="checkbox">
    <input type="checkbox" name="chbox" id="Checkbox1" value="AGE"> AGE
    </label>
    
	<label class="checkbox inline">
      <input type="checkbox" name="chbox" id="inlineCheckbox2" value="SEX"> SEX
    </label>
    
	<label class="checkbox inline">
      <input type="checkbox" name="chbox" id="inlineCheckbox3" value="RACE"> RACE
    </label>
	
	<label class="checkbox inline">
      <input type="checkbox" name="chbox" id="inlineCheckbox4" value="DISCHARGE_STATUS"> DISCHARGE_STATUS
    </label>
	
	<label class="checkbox inline">
      <input type="checkbox" name="chbox" id="inlineCheckbox5" value="STAY_INDICATOR">STAY_INDICATOR
    </label>
    
	<label class="checkbox inline">
      <input type="checkbox" name="chbox" id="inlineCheckbox6" value="DRG_CODE"> DRG_CODE
    </label>
	
	<label class="checkbox inline">
      <input type="checkbox" name="chbox" id="inlineCheckbox7" value="LENGTH_OF_STAY"> LENGTH_OF_STAY
    </label>
	
	<label class="checkbox inline">
      <input type="checkbox" name="chbox" id="inlineCheckbox8" value="ADMISSION_DATE"> ADMISSION_DATE
    </label>
	
	<label class="checkbox inline">
      <input type="checkbox" name="chbox" id="inlineCheckbox8" value="DISCHARGE_DATE"> DISCHARGE_DATE
    </label>
	
	<label class="checkbox inline">
      <input type="checkbox" name="chbox" id="inlineCheckbox8" value="DAY_OF_ADMISSION"> DAY_OF_ADMISSION
    </label>
	
	
	<label class="checkbox inline">
      <input type="checkbox" name="chbox" id="inlineCheckbox9" value="DRG_PRICE"> DRG_PRICE
    </label>
	
	<label class="checkbox inline">
      <input type="checkbox" name="chbox" id="inlineCheckbox10" value="TOTAL_CHARGES"> TOTAL_CHARGES
    </label>
	
	<label class="checkbox inline">
      <input type="checkbox" name="chbox" id="inlineCheckbox11" value="COVERED_CHARGES"> COVERED_CHARGES
    </label>
	
	<label class="checkbox inline">
      <input type="checkbox" name="chbox" id="inlineCheckbox18" value="DISCHARGE_DESTINATION"> DISCHARGE_DESTINATION
    </label>
	
	<label class="checkbox inline">
      <input type="checkbox" name="chbox" id="inlineCheckbox19" value="SOURCE_OF_ADMISSION"> SOURCE_OF_ADMISSION
    </label>
	
	<label class="checkbox inline">
      <input type="checkbox" name="chbox" id="inlineCheckbox20" value="TYPE_OF_ADMISSION">TYPE_OF_ADMISSION
    </label>
	
	<label class="checkbox inline">
      <input type="checkbox" name="chbox" id="inlineCheckbox21" value="ADMITTING_DIAGNOSIS_CODE"> ADMITTING_DIAGNOSIS_CODE
    </label>
	
	<label class="checkbox inline">
      <input type="checkbox" name="chbox" id="inlineCheckbox8" value="ADMISSION_TO_DEATH_INTERVAL"> ADMISSION_TO_DEATH_INTERVAL
    </label>
	
	<br>
	<button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
      </form>
      </div>
    <footer class="footer">
        <p>By Avengers</p>
    </footer>

    </div>
  </body>
</html>



